appdirs==1.4.0
beautifulsoup4==4.5.3
click==6.7
cloudpickle==0.2.2
cymem==1.31.2
cytoolz==0.8.2
decorator==4.0.11
Flask==0.12
flexmock==0.10.2
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
murmurhash==0.26.4
networkx==1.11
numpy==1.12.0
packaging==16.8
pathlib==1.0.1
Pattern==2.6
plac==0.9.6
preshed==0.46.4
pyparsing==2.1.10
regex==2017.2.8
requests==2.13.0
scipy==0.18.1
segtok==1.5.2
semver==2.7.5
six==1.10.0
spacy==1.6.0
sputnik==0.9.3
summa==0.0.7
thinc==6.2.0
toolz==0.8.2
tqdm==4.11.2
ujson==1.35
Werkzeug==0.11.15
wikipedia==1.4.0
